{% extends "html.twig" %}

{% block content %}
  <h3>This month table! </h3>
  <table class="datasheet">
    <tbody>
      <tr>
        <th>Смена</th>
        <th>Начало смены</th>
        <th>Конец смены</th>
        <th>Заезд</th>
        <th>Генеральная уборка</th>
        <th>Текущая уборка</th>
        <th>Сумма</th>
      </tr>
      {% if month %}
        {% for day in month %}
          <tr>
            {% if day.Work_shift != 'Total' %}
              <td><a href="{{ day.Work_shift }}">{{ day.Work_shift }}</a></td>
            {% else %}
              <td>{{ day.Work_shift }}</td>
            {% endif %}
            <td>{{ day.begin_work_day }}</td>
            <td>{{ day.end_work_day }}</td>
            <td>{{ day.check_in }}</td>
            <td>{{ day.general }}</td>
            <td>{{ day.current }}</td>
            <td>{{ day.Full_Price }}</td>
          </tr>
        {% endfor %}
      {% endif %}
    </tbody>
  </table>
{% endblock %}
